<link href="~/css/custom.css" rel="stylesheet" />
@* <!-- =================== Header ======================== -->
<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container">

        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <span class="nav-menu-title">Navigation</span>
                <span><i class="fas fa-chevron-down ps-2"></i></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>


        <div class="logo d-flex flex-column align-items-center">
            <img class="d-block logo-top-img" src="assets/images/logo.png" alt="">
            <img class="d-block pt-1" src="assets/images/logo title.png" alt="">
        </div>

        <button type="button" class="btn log-btn">
            <span class="log-btn-text">Log Out</span>
            <span><i class="fas fa-sign-out-alt ps-2"></i></span>
        </button>
    </div>
</nav>
*@

<!-- =================== Hero =========================== -->
<div class="hero-main">
    <div class="container">

        <div class="hero-main-title">
            <div class="radio-btn">
                <div class="d-flex">
                    <label class="custom-radio-btn me-md-4 me-2" for="flexRadioDefault1">
                        <span class="text-radio">NOT AVAILABLE</span>
                        <input type="radio" checked="checked" name="flexRadioDefault" id="flexRadioDefault1">
                    <span class="checkmark"></span>
                </label>
                    <label class="custom-radio-btn" for="flexRadioDefault2">
                        <span class="text-radio">
                            AVAILABLE
                            </span>
                        <input type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <span class="checkmark"></span>
                </label>
                </div>
            </div>

            <div class="dock-title">
                <div class="dropdown">
                    <button class="btn dropdown-toggle shadow-none" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        450 Airport Pkwy
                        <span><i class="fas fa-chevron-down ps-2 dock-title-down-btn"></i></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>

            <div class="time-range">
                <a href="#" class="time-date">Date</a>
                <a href="#" class="time-week ">Week</a>
                <a href="#" class="time-month active">Month</a>
                <a href="#" class="time-year">Year</a>
            </div>
        </div>

        <div class="row">
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-inactive"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>

            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 opacity-is-half">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-inactive"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-active"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-active"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-active"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-active"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-active"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-active"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 opacity-is-half">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-inactive"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 opacity-is-half">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-inactive"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 opacity-is-half">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-inactive"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>
            <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-4 col-sm-6 col-xs-6 opacity-is-half">
                <div class="cardDock ">
                    <div class="cardDock-title d-flex">
                        <h2 class="m-0 p-0">D1</h2>
                        <div class="round-display display-inactive"></div>
                    </div>
                    <div class="cardDock-img">
                        <img src="~/images/truck_.png" alt="">
                    </div>
                    <div class="cardDock-decs">
                        <p>G1458</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
