/*========================================================================================================================= 
header */
.navbar {
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 40px;
}
.dock-optimizer-container .dropdown-toggle::after {
  display: none !important;
}

.dock-optimizer-container nav .dropdown .btn {
  background: linear-gradient(95.25deg, #70c059 0%, #72cac8 99.46%);
  border-radius: 6px;
  width: 176px;
  height: 48px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  /* margin-left: 150px; */
}

.nav-menu-title,
.log-btn-text {
  padding-right: 8px !important;
}

.dock-optimizer-container .dropdown .fas {
  padding-right: 2px !important;
}

.dock-optimizer-container .dropdown-menu {
  padding: 0 !important;
}

.dock-optimizer-container .dropdown-item:hover {
  background-color: #b8d8b0 !important;
}

.log-btn {
  width: 147px;
  height: 48px;
  background: linear-gradient(95.25deg, #70c059 0%, #72cac8 99.46%);
  border-radius: 6px;
  font-weight: 800 !important;
  font-size: 16px !important;
  line-height: 19px !important;
  color: #ffffff !important;
  /* margin-right: 150px; */
}

.logo .logo-top-img {
  width: 66px !important;
  height: 66px !important;
}

/*=================================================================================================================================
 Hero-Main */
.hero-main-title {
  margin-top: 70px !important;
  margin-bottom: 70px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

/* Radio btn */
.radio-btn {
  display: flex;
  color: #22201a;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 20px;
}

.form-check-input {
  background-image: none !important;
  position: relative !important;
  margin-top: 3.5% !important;
}

.radio-btn input {
  display: inline-block !important;
  width: 20px !important;
  height: 20px !important;
  background-color: pink;
}
.radio-btn .check-not-available {
  background-color: #d9d9d9;
}

.radio-btn .check-available {
  background-color: #70c059;
}

.form-check .form-check-input {
  margin-left: 1rem !important;
  float: right !important;
}

.radio-btn-color-gray {
  display: inline-block;
  width: 20px;
  height: 11px;
  /* border-radius: 50%; */
  background-color: #d9d9d9;
  position: relative;
}

.radio-btn-color-green {
  display: inline-block;
  width: 20px;
  height: 11px;
  /* border-radius: 50%; */
  background-color: #70c160;
  position: relative;
}

/* Dock-titles */
.dock-title {
}
.dock-title .btn {
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.dockOptimizer-hero .dropdown .btn {
  background: #ffffff;
  color: #101c2d;
  font-size: 20px;
}
.dockOptimizer-hero .dropdown .btn span {
  padding-left: 10px;
}
.dock-optimizer-container .dropdown-toggle::after {
  display: none !important;
}

.dock-title .fa-chevron-down:before {
  padding: 5px;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  border: #70c059 solid 2px;
  color: #70c059;
}

.dock-optimizer-container .dropdown-menu {
  min-width: 100% !important;
  width: fit-content !important;
}

.dock-optimizer-container .dropdown .btn:focus,
.dock-optimizer-container .dropdown .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

/* time-range */
.time-range {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.time-range a {
  display: block;
  color: #70c059;
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
}

.time-range a:hover {
  color: #70c059;
  text-decoration: none;
}
.time-date {
  width: 90px;
  height: 31px;
  background: #ffffff;
  border: 2px solid #70c059;
  border-radius: 6px 0px 0px 6px;
}

.time-week {
  width: 90px;
  height: 31px;
  background: #ffffff;
  border: 2px solid #70c059;
}
.time-month {
  width: 90px;
  height: 31px;
  background: #ffffff;
  border: 2px solid #70c059;
}

.time-year {
  width: 90px;
  height: 31px;
  background: #ffffff;
  border: 2px solid #70c059;
  border-radius: 0px 6px 6px 0px;
}

.time-range .active {
  background: linear-gradient(105.23deg, #70c059 0%, #72cac8 100%) !important;
  color: #ffffff !important;
}

/* CARD */
.hero-main .row {
  justify-content: center;
}
.row > * {
  max-width: 200px !important;
}
.cardDock {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: #e2e5e8 solid 3px !important;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0 !important;
}
.cardDock-title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.round-display {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: 10px;
}

.display-active {
  background-color: #70c059;
}

.display-inactive {
  background-color: #d9d9d9;
}

.cardDock-img {
  max-width: 140px !important;
}

.cardDock-img img {
  width: 100%;
}

.cardDock-decs p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.opacity-is-half {
  opacity: 0.5;
}

/* responsive breakpoints */
@media screen and (max-width: 1201px) {
  .radio-btn,
  .time-range {
    flex-direction: column;
  }
  .time-date,
  .time-year {
    border-radius: 0;
  }
}

@media screen and (max-width: 772px) {
  .hero-main-title {
    flex-direction: column;
  }

  .radio-btn,
  .time-range {
    flex-direction: row;
  }

  .time-range,
  .dock-title {
    margin-top: 10px;
  }

  .time-date {
    border-radius: 6px 0px 0px 6px;
  }
  .time-year {
    border-radius: 0px 6px 6px 0px;
  }
}

@media screen and (max-width: 565px) {
  .nav-menu-title,
  .log-btn-text {
    display: none !important;
  }

  .dock-optimizer-container .dropdown .btn,
  .log-btn {
    width: fit-content;
  }

  i {
    padding-right: 5px !important;
  }

  .radio-btn {
    font-size: 1rem;
    flex-direction: column;
  }
}

/* ======================================================================================
========================== Modal ======================================== */
#demo-1 .modal-header,
#demo-2 .modal-header,
#demo-1 .modal-footer,
#demo-2 .modal-footer {
  border: none;
}

#demo-1 .modal-body,
#demo-2 .modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#demo-1 .modal-body h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 800;
  font-size: 24px;
}

#demo-1 p,
#demo-2 p {
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#demo-1 .modal-footer {
  flex-direction: column;
}

#demo-1 .modal-footer .btn,
#demo-2 .modal-body .btn {
  background: #70c160;
  border-radius: 16px;
  color: #ffffff;
  width: 100px;
  height: 45px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

#demo-1 .modal-footer .close,
#demo-2 .modal-footer .close {
  font-size: 14px;
}

#demo-1 .modal-footer .close span {
  color: #22201a !important;
}

#demo-2 form {
  margin-top: 20px !important;
  width: 70%;
  margin: auto;
}

#demo-2 form label {
  display: grid;
  place-content: start;
  font-weight: 500;
  font-size: 14px;
}

#demo-2 .form2-save-btn {
  display: grid !important;
  place-content: center !important;
}

#demo-2 .modal-footer {
  justify-content: center;
  padding-top: 0;
}

/* =============================================================================
CLOSE BUTTON
*/
.form-btn-close {
  margin: 0;
  border: 0;
  padding: 0;
  background: #0066ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 150ms;
}

.form-btn-close .icon-cross {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 40px;
  height: 40px;
}

.form-btn-close .icon-cross:before,
.form-btn-close .icon-cross:after {
  content: '';
  position: absolute;
  top: 17px;
  left: 0;
  right: 0;
  height: 6px;
  background: #fff;
  border-radius: 6px;
}

.form-btn-close .icon-cross:before {
  transform: rotate(45deg);
}

.form-btn-close .icon-cross:after {
  transform: rotate(-45deg);
}

.form-btn-close .icon-cross span {
  display: block;
}

.form-btn-close:hover,
.form-btn-close:focus {
  transform: rotateZ(90deg);
  background: #0052cc;
}

.cross-stand-alone {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 40px;
  height: 40px;
}

.cross-stand-alone:before,
.cross-stand-alone:after {
  content: '';
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  height: 4px;
  background: #000;
  border-radius: 4px;
}

.cross-stand-alone:before {
  transform: rotate(45deg);
}

.cross-stand-alone:after {
  transform: rotate(-45deg);
}

.cross-stand-alone span {
  display: block;
}

.cross-1px {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  position: relative;
  width: 80px;
  height: 80px;
}

.cross-1px:before,
.cross-1px:after {
  content: '';
  position: absolute;
  top: 39.5px;
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
  border-radius: 1px;
}

.cross-1px:before {
  transform: rotate(45deg);
}

.cross-1px:after {
  transform: rotate(-45deg);
}

.cross-1px span {
  display: block;
}

.visually-hidden-text {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
